{
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd",
				"style": true,
				"libraryDirectory": "lib"
			}
		],
		[
			"babel-plugin-styled-components",
			{
				"ssr": false,
				"preprocess": false
			}
		]
	],
	"presets": ["next/babel"],
	"ignore": []
}
