.gin-room-summary {
	height: 200px;
	border: 1px solid #cbcbcb;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	> div.gin-room-summary-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.gin-room-name {
			text-align: center;
			font-size: 20px;
			font-weight: 600;
			margin-top: 10px;
		}
	}
}
