.gin-room-list {
	height: calc(100% - 52px);
}
.gin-render-list {
	overflow: scroll;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #f5f5f5;
		border-radius: 10px;
	}
	&::-webkit-scrollbar {
		width: 5px;
		background-color: #f5f5f5;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #aaa;
		border-radius: 10px;
	}
}
