.gin-message {
	background-color: #6c757d;
	padding: 8px 10px;
	margin: 10px 0;
	border-radius: 10px;
	word-break: break-all;
	color: #f8f9fa;
	font-weight: 500;
	letter-spacing: 1px;
	width: fit-content;
}
